*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background-color: #E0DDE0;text-align: center;
    font-size: 14px;
}
input{
    outline: none;
}
input::placeholder{
    color: #acafb6;
}
input::-webkit-input-placeholder{
    color: #acafb6;
}
input:-moz-placeholder{
    color: #acafb6;
}
input:-ms-input-placeholder{
    color: #acafb6;
}
input::-moz-placeholder{
    color: #acafb6;
}
#warp{
    width: 500px;
    margin: 100px auto;
}
#date{

}
#dateInputBox{
    position: relative;
}
#dateInputBox i{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #acafb6;
    font-size: 14px;
}
#dateInput{
    width: 320px;
    height: 35px;
    border: 1px solid #E0DDE0;
    border-radius: 5px;
    padding: 0 10px 0 30px;
    cursor: pointer;
}
#dateInput:hover{
    border: 1px solid #c6c3c6;
}
#dateBox{
    width: 320px;
    border: 1px solid #E0DDE0;
    border-radius: 5px;
    padding:18px 10px 10px;
    margin-top: 20px;
    position: relative;
    z-index: 100;
}
#date-header,#date-header-left,#date-header-right,#date-centre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#date-header .fa{
    font-size: 22px;
    color: #acafb6;
    cursor: pointer;
}
.fa-angle-double-left ,.fa-angle-right{
    margin-right: 10px;
}
#date-centre{
    color: #606266;
    font-size: 18px;
    justify-content: center;
}
#date-centre span{
    margin: 0 5px;
}
#date-table{
    width: 100%;
    font-size: 14px;
    color: #606266;
    margin-top: 20px;
}
#date-table thead {
    border-bottom:1px solid #E0DDE0;
}
#date-table thead th{
    padding-bottom: 10px;
}
#date-table td{
    text-align: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.date-active{
    color: #409eff;
}
.date-active-cur{
    background-color: #409eff;
    color: white;
}
.date-hover:hover{
    border:1px solid #409eff;
    color: #409eff;
}
.date-active-cur:hover{
    border:0;
    color: white;
}
.date-grey{
    color:#acafb6 ;
    cursor: default !important;
}
.arrow{
    position: absolute;
    top: -17px;
    left: 52px;
}
.arrow:before,.arrow:after{
    position: absolute;
    content: '';
    border-top: 8px transparent dashed;
    border-left: 8px transparent dashed;
    border-right: 8px transparent dashed;
    border-bottom: 8px #fff solid;
}
.arrow:before{
    border-bottom: 8px #E0DDE0 solid;
}
.arrow:after{
    top: 1px;
    border-bottom: 8px #fff solid;
}